:root {
    /* colors */
    --main-color: #fff1e1;
    --second-color: #fff1e1;
    --accent-color: #f69ca7;

    /* font */
    --title-font-family: 'Dancing script';
    --body-font-family: sans-serif;

    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("imgs/light_wood_background_9.jpg"); */
    background-color: rgba(83, 83, 83, 0.8);
    font-family: var(--title-font-family);
}

.book {
    position: relative;
    width: 450px;
    height: 650px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    box-shadow: 0px 5px 5px rgba(83, 83, 83, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rosybrown;
}

.back {
    z-index: 0;
}

/* Contents */

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--second-color);
}

.title-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.end-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
}

.back-content {
    transform: rotateY(180deg);
}

.back-number {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.front-number {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

/* Paper Flip Effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(55, 55, 55);
}

i {
    font-size: 50px;
    color: rgb(76, 76, 76);
}

/* Paper Stack Order */
#p1 {
    z-index: 6;
}

#p2 {
    z-index: 5;
}

#p3 {
    z-index: 4;
}

#p4 {
    z-index: 3;
}

#p5 {
    z-index: 2;
}

/* #p6 {
    z-index: 2;
} */

/* #p7 {
    z-index: 4;
}

#p8 {
    z-index: 3;
}

#p9 {
    z-index: 2;
} */

#p10 {
    z-index: 1; 
}

/* Individual Pages (front and back) */
#f1 {
    background-color: var(--main-color);
}

#b10 {
    background: radial-gradient(circle, var(--second-color) 0%, var(--main-color) 35%, var(--accent-color) 100%);;
}

.main-title {
    font-size: 4rem;
    margin-top: 70px;
    position: absolute;
}

.end-title {
    font-size: var(--h2-font-size);
    font-family: var(--title-font-family);
}

.intro-title {
    position: absolute;
    font-size: var(--h1-font-size);
    padding-top: 30px;
}

.intro-p {
    position: relative;
    padding-top: 100px;
    padding-left: 2em;
}

.page-title {
    position: absolute;
    padding-top: 30px;
    display: inline-block;
}

.song-list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 100px;
}

.song {
    box-shadow: 0px 5px 5px rgba(83, 83, 83, 0.5);
}

.song:hover {
    transform: scale(0.9);
    box-shadow: none;
}

.trips-title {
    position: relative;
    margin-bottom: 5px;
}

.trip-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: center;
    gap: 20px;
}

.text-over-img-list {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    gap: 20px;
}

.text-over-img {
    border-radius: 16px;
}

.text-img-text {
    position: relative;
    height: 50px;
    width: 400px;
    text-align: center;
    color: transparent;
    border-radius: 16px;
}

.text-img-text:hover {
    background-color: rgba(83, 83, 83, 0.5);
    transition: 0.5s;
    color: black;
}

.fav-memory1 {
    position: relative;
    display: block;
    margin: auto;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.fav-mem-text {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.food-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: center;
    gap: 5px;
    margin-top: 90px;
}

.food-text {
    position: relative;
    height: 120px;
    width: 120px;
    background-size: fill;
    text-align: center;
    color: transparent;
    padding-top: 50px;
    font-size: var(--h2-font-size);
}

.food-text:hover {
    background-color: rgba(242, 161, 181, 0.724);
    transition: 0.5s;
    color: white;
}

.food-img {
    background-size: cover;
}

.ach-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 50px;
}

.ach-company {

}

/* text */
h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-family: var(--title-font-family);
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

/* images */
img {
    max-height: 300px;
}

.white-box {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(83, 83, 83, 0.5);
}

.heart-img {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 5px 5px rgba(83, 83, 83, 0.5);
}

.bg-image {
    position: absolute;
    width: 2070px;  
    height: 2000px;  
    text-align: center;  
    z-index: -1;
}

.trip-img {
    position: relative;
    height: 110px;
    width: 130px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0px 5px 5px rgba(83, 83, 83, 0.5);
}

.fav-mem-img {
    display: block;
    position: relative;
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: rgba(83, 83, 83, 0.5);
}

.ach-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}